<h2>$testname</h2><input type="checkbox" class="tabhandle" id="$id">
<label class="filled" for="$id">Best results: (IMAGE $result_i%, at t=$t_i) (MOVIE $result_m%, at t=$t_m)</label>
<div class="tabcontent">
 <pre>
  $output
 </pre>
</div>
